{% set prefix = "" %}
{% if is_granted("ROLE_ADMIN") %}
	{% set prefix = "admin/" %}
{% elseif is_granted("ROLE_USER") %}
	{% set prefix = "customer/" %}
{% endif %}

{% extends prefix ~ "base.html.twig" %}
{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<div class="form-control">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
		<div>
			{% for message in app.flashes %}
				{{ message }}
				{% else %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
