{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue</h1>

<p>votre mot de passe provisoire est: {{ password }}</p>

<p>Veuillez vous connecter à {{ url }} et modifier votre mot de passe.</p>

{% endblock %}