<form method="post" action="{{ path('action_delete', {'id': action.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette action?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ action.id) }}">
    <button class="btn btn-orange my-3">Supprimer</button>
</form>
