<form method="post" action="{{ path('ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette ressource?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <button class="btn btn-orange">Supprimer</button>
</form>
