{% extends 'admin/base.html.twig' %}

{% block title %}Nouvelle ressource
{% endblock %}

{% block body %}
	<section class="container col-auto col-md-9 col-xl-10">
		<div>
			<h1>Créer une nouvelle ressource</h1>

			<a class="btn my-3" href="{{ path('ressource_index') }}">Retour à la liste</a>

			{{ include('ressource/_form.html.twig') }}

		</div>
	</section>
{% endblock %}
