<form method="post" action="{{ path('roadmap_delete', {'id': roadmap.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette Roadmap');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ roadmap.id) }}">
    <button class="btn btn-orange my-3">Supprimer</button>
</form>
