{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}

{% block title %}Edit ProfilMarketing
{% endblock %}

{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<h1>Edit ProfilMarketing</h1>

		{{ include('profil_marketing/_form.html.twig', {'button_label': 'mettre à jour'}) }}

		<a href="{{ path('profil_marketing_index') }}">retour à la liste</a>

		{{ include('profil_marketing/_delete_form.html.twig') }}
	</div>
{% endblock %}
