{% extends (is_granted("ROLE_ADMIN")) ? ("admin/base.html.twig") : ("customer/base.html.twig") %}

{% block title %}Nouvel Audit 3/3
{% endblock %}

{% block body %}
	<div class="container col-auto col-md-9 col-xl-10">
		<h1>Nouvel audit 3/3</h1>

		{{ include('profil_marketing/_form.html.twig') }}

	</div>
{% endblock %}
